<div class="card">
    <div class="card-header">
        <h3>{{ tituloPagina + ': ' + auto?.marca + ' ' + auto?.modelo}}</h3>
    </div>
    <div class = "'container-fluid'">
        <div class="row">
            <!-- Lado izquierdo: Datos y boton de compra -->                     
            <div class="col align-self-start">
                <table class="col-0 container-fluid">
                    <tr>
                        <td><label>Marca:</label></td>  
                        <td class="col ali">{{  auto?.marca }}</td>  
                    </tr>
                    <tr>
                        <td><label>Modelo:</label></td>   
                        <td class="col ali">{{  auto?.modelo }} </td>  
                    </tr>
                    <tr>
                        <td><label>Año:</label>   </td>
                        <td class="col ali">{{  auto?.anio }} </td>  
                    </tr>
                    <tr>
                        <td><label>Color:</label> </td>  
                        <td class="col ali"> {{  auto?.color }} </td>  
                    </tr>
                    <tr>
                        <td><label>Kilómetros:</label> </td>  
                        <td class="col ali">  {{  auto?.kilometros | number }}  </td>  
                    </tr>
                    <tr>
                        <td><label>Precio:</label></td>   
                        <td class="col ali">  {{  auto?.precio | currency }}  </td>  
                    </tr>
                    <tr>
                        <td><label>Calificación</label></td>  
                        <td class="col ali"> 
                            <estrellas
                                 [calificacion]="auto!.calificacion">
                            </estrellas>
                        </td>  
                    </tr>  
                 </table>
            </div>
            
            <!-- Lado derecho: Fotos -->            
            <div class="col-6 container">
                <table class="col-0 container-fluid">
                    <tr>
                        <td>  {{  auto?.imagenUrl }}  </td>  
                    </tr>
                    <tr>
                        <td> <img src="{{  auto?.imagenUrl }} "> <td>
                    </tr>
                    <tr>
                        <td> <button class='btn btn-outline-primary m-2 ' style="width:110px" >
                            Comprar
                        </button></td>  
                    </tr>  
                </table>    
            </div>
        </div>
    </div>

    <div class="card-footer">
        <button class='btn btn-outline-secondary' style="width:110px" (click)="onBack()">
            Regreso
        </button>
    </div>
</div>